
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;0,800;1,500;1,800&display=swap');


body
{
 margin:0;
line-height:1.5;
background-color:#f3f2f1;
}


body,
input,
textarea,
button
{
font-family: 'Raleway', sans-serif;
font-weight:400;
}



*
{
box-sizing:border-box;
margin:0;
}



.container
{
max-width:1170px;
margin:auto;
}


.row
{
display:flex;
flex-wrap:wrap;
}



.align-items-center{
align-items:center;
}




.justify-content-between{
justify-content:space-between;
}




.brand-name a img
{
width:200px;
height:150px;
padding:10px;
top:10px;

}









.btn-02{
color:#000000;
border:1px solid transparent;
padding:10px;
border-radius:20px;
line-height:1.5;
cursor:pointer;
text-decoration:none;
font-size:16px;
font-weight:600;
display:inline-block;
transition:all 0.5s ease;
}

.btn-02:focus{
outline:none;
}

.btn-02:hover{
background-color:#ffffff;
border-color:#ffffff;
color:#F7F423;
}





.header{
position:absolute;
left:0;
top:0;
width:100%;
}
.header.brand-name{
padding:0 15px;
}
.header.nav{
padding:0 15px;
}
.header .nav u1
{
list-style:none;
margin:0;
padding:0;
}
.header .nav u1 li{
display:inline-block;
margin-left:30px;
}
.header .nav u1 li a{
text-decoration:none;
font-size:16px;
font-weight:600;
color:#ffffff;
padding:10px 8px;
display:block;
transition: all 0.5s ease;
}
.header .nav u1 li a:hover{
color:#ff9800;
}


.blink
{
margin-top:350px;
width:90%;
}





.home-section
{
min-height:100vh;
min-width:100vw;
background-image:url('cracker.gif');
background-size:cover;
background-position:center;
}
.home-section .row{
min-height:100vh;
}
.home-section .home-content{
top:50px;
flex:0 0 100%;
max-width:100%;
text-align:center;
}
.home-section .home-content h2{
font-size:70px;
color:#ffffff;
margin:0;
letter-spacing:7px;
}
.home-section .home-content h1{
font-size:60px;
margin:0;
color:#ffffff;
text-transform:uppercase;
font-weight:900;
letter-spacing:10px;

}



.section-title{
flex:0 0 100%;

max-width:100%;

margin-bottom:60px;

padding:0 15px;

}

.section-title h1{
display:inline-block;
font-size:40px;
color:#000000;
font-weight:700;
margin:0;
position:relative;
}


.section-title h1:before{

content:'';
box-sizing:border-box;
position:absolute;
left:0;
bottom:-5px;
width:80px;
height:3px;
background-color:#ff9800;
}







.about-section
{
padding:20px 0 0;
}
.about-section .about-img
{
padding:0 15px;
flex:0 0 33.33%;
max-width:33.33%;
}
.about-section  .about-img  .img-box 
{
position:relative;
}
.about-section .about-img .img-box img
{
width:100%;
height:50%;
display:block;
margin-top:150px;
}
.about-section .about-content
{
flex:0 0 66.66%;
max-width:66.66%;
padding:0 15px;
}
.about-section .section-title
{
margin-bottom:30px;
padding:0;
}
.about-section .about-content p
{
font-size:16px;
color:#555555;
line-height:26px;
margin:0;
}
.about-section .about-content .stats .stat-box
{
flex:0 0 25%;
max-width:25%;
padding:0 15px;
text-align:center;
margin-top:30px;
}
.about-section .about-content .stats .stat-box h2
{
fon-size:40px;
color:#000000;
margin:0 0 5px;
}
.about-section .about-content .stats .stat-box h5
{
font-size:16px;
color:#555555;
font-weight:600;
text-transform:uppercase;
}







.about-section .about-content .btn
{
margin-top:30px;
}
.btn-01{
background-color:#ff9800;
color:#ffffff;
border:2px solid transparent;
padding:10px 35px;
border-radius:30px;
line-height:1.5;
cursor:pointer;
text-decoration:none;
font-size:16px;
font-weight:600;
display:inline-block;
transition:all 0.5s ease;
}
.btn-01:focus{
outline:none;
}
.btn-01:hover{
background-color:transparent;
border-color:#ff9800;
color:#ff9800;
}








.products
{
padding:30px;
}
.oo
{
text-align:center;
color:red;
font-size:60px;
}



.photo
{
padding:50px;
}
.photo img
{
padding:30px;
width:49%;
}
.photo .sudha p{
text-align:center;
color:red;
font-size:40px;
}




.reach 
{
padding:30px ;
background-color:black;
width:60 120 120 60px;
color:white;
text-align:left;
}
.reach  h1
{
font-size:40px;
color:blue;
}


.brands i
{
align-items:center;
padding-left:70px;
color:white;
}
.brands a
{
text-decoration:none;
transition: all 0.5s ease;
}




.reach .satheesh
{
float:right;
margin-top:-500px;
position:relative;
}